* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home_page_light {
  height: 100vh;
  width: 100vw;
}

input:focus {
  outline: none;
}

.intro_text {
  font-size: 80px;
}

.home_page_dark {
  height: 100vh;
  width: 100vw;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    270deg,
    #000000,
    #090808,
    #181313,
    #15111a,
    #181023,
    #1c0e2f,
    #1e0b38,
    #220a41
  );
  background-size: 1600% 1600%;

  -webkit-animation: DarkTheme 13s ease infinite;
  -moz-animation: DarkTheme 13s ease infinite;
  animation: DarkTheme 13s ease infinite;
}

@-webkit-keyframes DarkTheme {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes DarkTheme {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes DarkTheme {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.search_area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80vw;
  height: 100vh;
  padding-left: 10vh;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.confirm {
  margin-left: 10vw;
  cursor: pointer;
  height: 7vh;
  width: 25vh;
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: medium;
  border: none;
}

@media (max-width: 1100px) {
  .home_page_dark {
    flex-direction: column;
    overflow-y: scroll;
  }
  .search_area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    width: 100vw;
    height: 80vh;
    padding: 10px;
  }
  .intro_text {
    font-size: 40px;
  }
}
