.search_results {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.poster {
  width: 100%;
  height: 70%;
}
.card {
  height: 40%;
  width: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: smaller;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}

.nominations {
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* .display_card{
  height: 70%;
  width: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: smaller;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
} */
